@import url(../fonts/fonts.css);
h1{
	text-align: center;
}
body{
	margin: 0;
	padding:0;
	font-size: 20px;
	font-family: myArial, sans-serif;
}
.content{width: 83.3333%;padding:0 1.25%;margin: 0 auto;}
.container-fluid{padding: 0;}
.clear-fix{
	clear: both;
}
.clear-fix:before, .clear-fix:after{
	display: table;
	content: "";
}
/*
*	CSS HEADER
*/
.container-header{
	min-height: 226px;
	position: relative;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.logo img{
	max-width: 100%;
	height: auto;
}
.logo a{
	width: 100%;
	height: auto;
}
.box-btn{
	float: right;
	margin-right: 1.86%;
}
.btn{
	display: block;
	color: #fff;
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5);
	border:none;
    position: relative;
    z-index: 1;
}
.btn-1{
	background:#323c57;
	margin-bottom: 22px;
	margin-top: 30px;
}
.btn-1:hover{
	background:#fff;
	color: #323c57;
}
.btn-2{
	background: #8cc740;
}
.btn-2:hover{
	background:#fff;
	color: #8cc740;
}
.navbar{
	min-height: 1px;
	margin: 0;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-radius: 0;
}
.navbar-collapse{padding:0;}
.navbar-default{
	background: #8cc740;
}
.navbar-right{
	margin: 0;   
	width: 100%;	
    text-align: right; 
}
.navbar-right>li{
	position: relative;
    padding: 0 1.3%;
}
.navbar-right>li:first-child{
	color: transparent;
	padding-left: 0;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 19px;
	text-transform: capitalize;
	line-height: 18px;
	position: relative;
    display: block;
    padding: 10px 0;
} 
.navbar-default .navbar-nav>li>a:hover{
	color: #323c57;
}
.navbar-default .navbar-nav>li:after{
	content: "\f111";
	font-family: FontAwesome;
   	font-weight: normal;
   	font-style: normal;
   	font-size: 5px;
   	color: #4e5770;    
   	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-default .navbar-nav>li:last-child:after{
	display: none;
}

.navbar-toggle{
    margin: 0;
    padding: 0;
    border: none;
    background: #323c57;
    width: 41px;
    height: 41px;
    border-radius: 4px;
}
.navbar-toggle .icon-bar{
    display: block;
    width: 32px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    margin: 0 auto 0;
}
.navbar-toggle .icon-bar:nth-last-child(2){
    margin: 7px auto;
}

ul.sub-menu{
	display: none;
}
/*
*	CSS CONTENT
*/
#site-content{
	min-height: 645px;
}
.article-content{
	width: 68.3%;
	min-height: 1px;
	float: left;    
	padding: 0 2.1% 0 0;
    box-sizing: border-box;
}
.widget{
	width: 31.7%;
	background: transparent;
	min-height: 1px;
	float: left;
    margin-top: -4px;
}
.container-site-content{
	padding: 17px 1.25% 17px;
}    
.box-post-content{
	background: rgba(255,255,255,.9);    
	padding: 18px 30px 18px 22px;
	border-radius: 8px;
    color: #323c57;
}
.box-post-content p, .box-post-content strong{
	font-size: 14px;
}
.box-post-content p{
	margin: 0 0 24px;
}
.box-post-content strong p{
	margin: 0;
}
.box-post-content ul{
	color: #4e5770;
	font-size: 14px;
    margin-bottom: 24px;
}
nav.related_posts{
	font-size: 14px;
	list-style:none;
}
nav.related_posts li{
	position: relative;
	padding-left: 20px;
}
nav.related_posts li a {
	color: #323c57;
	text-transform: capitalize;
}
nav.related_posts li:before{
	content: "»";
    padding: 0 5px 0 10px;
    color: #323c57;    
    position: absolute;
    left: -2px;
    display: block;
}
.title_related_posts{
	font-size: 14px;
    color: #323c57;
    text-transform: capitalize;
    font-weight: bold;
}
.title-post{
    font-size: 18px;
    margin: 0 0 28px;
    font-weight: bold;
    text-transform: capitalize;
}
a.btn.btn-widget{
	    padding: 17px 10px;
    line-height: normal;    
    background: #8cc740;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 17px;
    border-radius: 5px;
}
.box-widget .widget_iteam:nth-last-child(2) a.btn.btn-widget{
    margin-bottom: 30px;
}
a.btn.btn-widget:hover{
	background: #fff;
	color: #8cc740;
}
div.wpcf7{
    text-align: center;
    color: #fff;
    background: rgba(50,60,87,0.9);
    border-radius: 5px;
    padding: 7% 3.925% 5.5%;
}
p.legend_form{
	margin: 0 0 6%;
}
p.legend_form span{
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 10px;
}
div.wpcf7 p{
	margin: 0 0 4px;
}
div.wpcf7 p input, div.wpcf7 p textarea{
	border-radius: 0;
    border: none;
    resize: none;
    max-width: 100%;
}
 div.wpcf7 p textarea{
 	height: 82px;
 }
div.wpcf7 p input::-webkit-input-placeholder ,div.wpcf7 p textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #595959;
  text-transform: capitalize;
}
div.wpcf7 p input::-moz-placeholder ,div.wpcf7 p textarea::-moz-placeholder { /* Firefox 19+ */
  color: #595959;
  text-transform: capitalize;
}
div.wpcf7 p input:-ms-input-placeholder ,div.wpcf7 p textarea:-ms-input-placeholder { /* IE 10+ */
  color: #595959;
  text-transform: capitalize;
}
div.wpcf7 p input:-moz-placeholder ,div.wpcf7 p textarea:-moz-placeholder { /* Firefox 18- */
  color: #595959;
  text-transform: capitalize;
}
div.wpcf7 p input.btn-submit{
    line-height: normal;
    padding: 3px 40px;
    display: block;
    margin: 26px auto 20px;
    border-radius: 2px;
    background: #8cc740;
    color: #323c57;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
div.wpcf7 p.lable_form span, div.wpcf7 p.lable_form span a{
	font-size: 16px;
    color: #fff;
}
div.wpcf7 p.lable_form span a, div.wpcf7 p.lable_form span small{
	text-decoration: underline;
}
/*
*	CSS FOOTER
*/
#site-footer{
	background: #323c57;
    overflow: hidden;
    padding: 26px 0 15px;
    font-family: myTahoma, sans-serif;
}
footer#site-footer a:hover{
	color: #337ab7;
}
#site-footer div[class*="col-"]{
	padding: 0;
    font-size: 15px;
    color: #fff;
}
.title-item-footer{
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0;
}
.nav-footer ul, .footer-icon{
    -webkit-padding-start: 16px;
}
.contact-footer ul{
	list-style: none;
    padding: 0;
}
.nav-footer li a, .nav-footer li p a, .contact-footer li a , .contact-footer li p a{
	color: #fff;
	text-decoration: underline;
	text-transform: capitalize;
}
.contact-footer li p, .contact-footer li span{
	text-transform: capitalize;
	margin: 0;
}
.footer_right{
	text-align: center;
}
map{
	display: block;
}
.footer-social li{
	float: left;
}
.footer-social .fb, .footer-social .gplus, .footer-social .in{
	width: 30px;
	height: 30px;
	display: block;
	margin-right: 5px;
}

.footer-icon{
	list-style: none;
	margin: 17px 0 0;
}
.footer-icon li{
	float: left;
}
.footer-icon li a{
	margin-right: 16px;
}
/*CSS FAQ'S*/
#faqs dd{
	display: none;
}
.faq-title{
	cursor: pointer;
}
@media screen and (min-width: 801px){
	.navbar-default .navbar-nav>li{
		padding: 0 1.3%;    
	    display: inline-block;
	    float: none;
	}
	.navbar-default .navbar-nav>li>a:after{
		right: 2.9em;
	}
	.navbar-default .navbar-nav>li:first-child{
		padding-left: 0;
	}
	.navbar-default .navbar-nav>li:last-child{
		padding-right: 0;
	}
}

@media screen and (min-width: 864px){
	.navbar-default .navbar-nav>li>a{font-size: 14px;}
	.navbar-default .navbar-nav>li{padding: 0 0.33%;}
	.navbar-default .navbar-nav>li:after{right: -5px;}
}
@media screen and (min-width: 900px){
	.navbar-default .navbar-nav>li{padding: 0 .59%;}
}
@media screen and (min-width: 1024px){
	.navbar-default .navbar-nav>li{padding: 0 .62%;}
	.navbar-default .navbar-nav>li>a{font-size: 16px;}
}
@media screen and (min-width: 1200px){
	.navbar-default .navbar-nav>li{padding: 0 .92%;}
	.navbar-default .navbar-nav>li>a{font-size: 18px;}
}
@media (max-width: 800px){
	.navbar-toggle {
    	display: block;
	}
	.navbar-nav>li{
		float: none;
	}
	.logo img{
		height: 100%;
		max-width: 1000%;
		margin:-31px auto 0 -80px;
	}
	.container-header .content{
		position: absolute;
		bottom: 0;
    	width: 100%;
	}
	.box-btn{
		width: 100%;
	    text-align: center;
	    margin: 0 0 30px;
	}
	.box-btn a{
	    margin: 0;
	    display: inline-block;    
	    font-size: 16px;
    	padding: 8px 5px;
	}
	.navbar-right{
		text-align: center;
	}
	.navbar-default{
		border: none;
		min-height: 0;
	}
	.navbar-default .navbar-nav>li:after{
		display: none;
	}
	.navbar-default .navbar-collapse{
		border: none;
		display: none;/* 
		max-height: 0;
		-moz-transition: max-height .5s ease;
			    -webkit-transition: max-height .5s ease;
			    -o-transition: max-height .5s ease;
			    transition: max-height .5s ease; */
	}
	.navbar-default .navbar-collapse.open{/* 
		max-height: 999px;
		display: block;
		-moz-transition: max-height 1s ease;
	    -webkit-transition: max-height 1s ease;
	    -o-transition: max-height 1s ease;
	    transition: max-height 1s ease; */
	}

	.container-site-content.container.content{
		width: 100%;
		padding: 17px 0 0;
	}
	.box-post-content{
	    border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
    	padding-bottom: 86px;
	}
	.article-content{
		width: 100%;
		padding: 0 1.25% ;
	}
	.widget{
	    width: 100%;
	    background: #fff;
	    margin-top: 0;
	}
	.box-widget{
		width: 68.23%;
	    float: none;
    	margin: -80px auto 0;
    	padding-bottom: 6px;
	}
	nav.related_posts li{
		position: relative;
		padding-left: 24px;
	}
	nav.related_posts li:before{
		position: absolute;
		left: 0;
	}
	nav.related_posts li a{
		text-decoration: underline;
	}
	.footer_left div[class*='col-']{
		width: 50%
	}
	.footer_left div[class*='col-']:last-child{
		width: 100%;
		margin-top: 40px;
		text-align: center;
	}
	.footer_right ul{
		list-style: none;
		margin: 0 auto;
	}
}