@import url('/fonts/font.css');
h1{
	text-align: center;
}
body{
	margin: 0;
	padding:0;
	font-size: 20px;
	font-family: myArial, sans-serif;
}
.content{width: 83.3333%;padding:0 1.25%;margin: 0 auto;}
.container-fluid{padding: 0;}
.clear-fix{
	clear: both;
}
.clear-fix:before, .clear-fix:after{
	display: table;
	content: "";
}
/*
*	CSS HEADER
*/
.container-header{
	background:url('/images/home_header_bg.png') center center no-repeat;
	background-size: cover;
	min-height: 226px;
}
.box-btn{
	float: right;
	margin-right: 1.86%;
}
.btn{
	display: block;
	color: #fff;
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5)
}
.btn-1{
	background:#323c57;
	margin-bottom: 22px;
	margin-top: 30px;
}
.btn-1:hover{
	background:#fff;
	color: #323c57;
}
.btn-2{
	background: #8cc740;
}
.btn-2:hover{
	background:#fff;
	color: #8cc740;
}
.navbar{
	min-height: 1px;
	margin: 0;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-radius: 0;
}
.navbar-collapse{padding:0;}
.navbar-default{
	background: #8cc740;
}
.navbar-right{
	margin: 0;
}
.navbar-default .navbar-nav>li>a:first-child{
	padding-left: 0;
}
.navbar-default .navbar-nav>li:last-child>a{
	padding-right: 0;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 19px;
	text-transform: capitalize;
	line-height: 18px;
	position: relative;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
} 
.navbar-default .navbar-nav>li>a:hover{
	color: #323c57;
}
.navbar-default .navbar-nav>li>a:after{
	content: "\f111";
	font-family: FontAwesome;
   	font-weight: normal;
   	font-style: normal;
   	font-size: 5px;
   	color: #4e5770;
   	position: absolute;
   	right: 0.9em;
}
.navbar-default .navbar-nav>li:last-child>a:after{
	display: none;
}
/*
*	CSS CONTENT
*/
#site-content{
	background: url('/images/home_bg.png') center center no-repeat;
	background-size: cover;
	min-height: 645px;
}
.article-content{
	width: 80%;
	background: #f00;
	min-height: 1px;
	float: left;    
	padding: 0 10px;
    box-sizing: border-box;
}
.widget{
	width: 20%;
	background: blue;
	min-height: 1px;
	float: left;
}
@media screen and (min-width: 1360px){
	.navbar-default .navbar-nav>li>a{
		padding: 10px 1.8em;    
	}
	.navbar-default .navbar-nav>li>a:after{
		right: 2.9em;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1280px){
	.navbar-default .navbar-nav>li>a{
		padding: 10px 0.9em;    
	}
	.navbar-default .navbar-nav>li>a:after{
		right: 1.5em;
	}
}