@font-face {
    font-family: 'myArial';
    src: url('Arial.eot');
    src: url('Arial.eot') format('embedded-opentype'),
         url('Arial.woff2') format('woff2'),
         url('Arial.woff') format('woff'),
         url('Arial.ttf') format('truetype'),
         url('Arial.svg#Arial') format('svg');
}
@font-face {
    font-family: 'myTahoma';
    src: url('Tahoma.eot');
    src: url('Tahoma.eot') format('embedded-opentype'),
         url('Tahoma.woff2') format('woff2'),
         url('Tahoma.woff') format('woff'),
         url('Tahoma.ttf') format('truetype'),
         url('Tahoma.svg#Tahoma') format('svg');
}
