@font-face {
    font-family: 'myArial';
    src: url('fonts/Arial.eot');
    src: url('fonts/Arial.eot') format('embedded-opentype'),
         url('fonts/Arial.woff2') format('woff2'),
         url('fonts/Arial.woff') format('woff'),
         url('fonts/Arial.ttf') format('truetype'),
         url('fonts/Arial.svg#Arial') format('svg');
}
@font-face {
    font-family: 'myTahoma';
    src: url('fonts/Tahoma.eot');
    src: url('fonts/Tahoma.eot') format('embedded-opentype'),
         url('fonts/Tahoma.woff2') format('woff2'),
         url('fonts/Tahoma.woff') format('woff'),
         url('fonts/Tahoma.ttf') format('truetype'),
         url('fonts/Tahoma.svg#Tahoma') format('svg');
}
