@font-face {
    font-family: 'MyOpenSans';
    src: url('OpenSansRegular.eot');
    src: url('OpenSansRegular.eot') format('embedded-opentype'),
         url('OpenSansRegular.woff2') format('woff2'),
         url('OpenSansRegular.woff') format('woff'),
         url('OpenSansRegular.ttf') format('truetype'),
         url('OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'MyOpenSansBold';
    src: url('OpenSansBold.eot');
    src: url('OpenSansBold.eot') format('embedded-opentype'),
         url('OpenSansBold.woff2') format('woff2'),
         url('OpenSansBold.woff') format('woff'),
         url('OpenSansBold.ttf') format('truetype'),
         url('OpenSansBold.svg#OpenSansBold') format('svg');
}
